@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #74c69d;
}

body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.section-name {
    font-weight: 700;
    font-size: 0.8em;
    line-height: 1em;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
}

h1,
h2 {
    font-family: 'Crimson Text', serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2em;
    color: white;
}

.btn {
    text-decoration: none;
    font-weight: 400;
    line-height: 1.25em;
    text-align: center;
    width: fit-content;
    padding: 0.5em 2.25em;
    color: black;
    background-color: white;
    border-radius: 5px;
}
